<div class="px-4 pt-4 pb-2 bg-green-100">
  <div class="container mx-auto items-center flex">
    <img class="w-20 h-20 ml-20 mr-10" src="../assets/simon.png" alt="" />
    <div class="bg">
      <h2 class="text-3xl font-bold font-weight: 700 font-size: rem">
        Attend a free information session!
      </h2>
      <p class="text-lg text-green-700 font-bold">
        Tune into daily product webinar at
        <strong>12 noon ET</strong> to learn how Closer can transform your real
        estate practice without breaking the bank.
      </p>
      <div class="mt-5">
        <a
          href="https://zoom.us/webinar/register/WN_N3de1HVfT5KqQkplcOhwjw"
          target="_blank"
          class="text-lg font-bold text-brown-600 underline cursor-pointer hover:text-green-500"
          >Click here to attend</a
        >
      </div>
    </div>
  </div>
</div>
<nav class="px-4 py-2 bg-neutral-800">
  <div class="container mx-auto justify-between flex items-center">
    <div class="w-32 cursor-pointer" routerLink="/">
      <img src="../assets/logo.svg" alt="" />
    </div>
    <div class="ml-11">
      <ul class="flex text-white space-x-12 text-xl cursor-pointer">
        <li class="hover:text-green-200" routerLink="/features">Features</li>
        <li class="hover:text-green-200" routerLink="/whyCloser?">
          Why Closer?
        </li>
        <li class="hover:text-green-200">
          <a href="https://www.lawlabs.ca/pricing" target="_blank"> Pricing</a>
        </li>
      </ul>
    </div>
    <div class="font-light">
      <a
        href=""
        class="rounded-full border-2 font-bold bg-neutral-700 px-3 py-2 text-green-100 ml-11 mr-12 hover:bg-neutral-500"
        >Log in</a
      >
      <a
        href="https://zoom.us/webinar/register/WN_N3de1HVfT5KqQkplcOhwjw"
        target="_blank"
        class="text-green-900 border-2 font-bold bg-green-200 px-3 py-2 rounded-full hover:bg-green-500"
        >Try now for FREE</a
      >
    </div>
  </div>
</nav>
<div class="bg-neutral-900 bg-cover bg-center bg-no-repeat">
  <div class="container my-auto mx-auto flex justify-center">
    <div class="py-10 text-white">
      <div class="flex items-center">
        <div class="text-center">
          <h1 class="m-10 text-5xl text-center font-bold">
            Retire that F9 key in <br />favour of real progress
          </h1>
          <a
            href=""
            class="text-green-900 border-2 font-bold bg-green-200 px-4 py-3 rounded-full hover:bg-green-500"
            >Try now for FREE</a
          >
          <a
            href=""
            class="rounded-full border-2 font-bold bg-neutral-700 px-4 py-3 text-green-100 ml-11 mr-12 hover:bg-neutral-500"
            >Book a Demo</a
          >
        </div>
        <div>
          <img
            src="https://uploads-ssl.webflow.com/613a465d1804f737b87acf7c/614bcd14394cbc0cfbf23a93_10-10.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="items-center py-4 justify-evenly flex bg-neutral-800">
  <div class="justify-center">
    <img
      src="https://uploads-ssl.webflow.com/613a465d1804f737b87acf7c/6144a3519bc78c0a700745a6_KH-08.svg"
      loading="lazy"
      width="287"
      alt=""
    />
  </div>
  <div class="text-white italic text-lg py-10 font-semibold w-96">
    <blockquote class="mce-i-blockquote">
      "I can't imagine our business running without Closer now - it's such a
      game changer for the way we prioritize and process our files."
    </blockquote>
    <div>
      <div class="text-block-3">
        <strong class="bold-text-2">Korin Harris, </strong>Clerk
      </div>
    </div>
  </div>
</div>

<div class="text-center py-28">
  <h1 class="text-5xl font-bold">Ready to progress with us?</h1>
  <p class="text-lg pt-5">
    Try it now or book a demo to see how Closer will transform the way you
    convey.
  </p>
  <div class="font-light p-9 mt-3">
    <a
      href="https://zoom.us/webinar/register/WN_N3de1HVfT5KqQkplcOhwjw"
      target="_blank"
      class="text-green-900 border-2 font-bold bg-green-200 px-5 py-4 rounded-full hover:bg-green-500"
      >Try now for FREE</a
    >
    <a
      href="https://www.lawlabs.ca/sign-up"
      target="_blank"
      class="rounded-full border-2 font-bold bg-neutral-700 px-5 py-4 text-green-100 ml-11 mr-12 hover:bg-neutral-500"
      >Book a demo</a
    >
  </div>
</div>

<footer id="footer" class="w-screen bg-neutral-800 text-white p-10">
  <div class="text-center text-2xl font-semibold hover:text-green-200">
    LawLabs-Clone By Kamaljeet Singh
  </div>
</footer>
