<div class="px-4 pt-4 pb-2 bg-green-100">
  <div class="container mx-auto items-center flex">
    <img class="w-20 h-20 ml-20 mr-10" src="../assets/simon.png" alt="" />
    <div class="bg">
      <h2 class="text-3xl font-bold font-weight: 700 font-size: rem">
        Attend a free information session!
      </h2>
      <p class="text-lg text-green-700 font-bold">
        Tune into daily product webinar at <strong>12 noon ET</strong> to learn
        how Closer can transform your real estate practice without breaking the
        bank.
      </p>
      <div class="mt-5">
        <a
          href="https://zoom.us/webinar/register/WN_N3de1HVfT5KqQkplcOhwjw"
          target="_blank"
          class="text-lg font-bold text-brown-600 underline cursor-pointer hover:text-green-500"
          >Click here to attend</a
        >
      </div>
    </div>
  </div>
</div>
<nav class="px-4 py-2 bg-neutral-800">
  <div class="container mx-auto justify-between flex items-center">
    <div class="w-32 cursor-pointer" routerLink="/">
      <img src="../assets/logo.svg" alt="" />
    </div>
    <div class="ml-11">
      <ul class="flex text-white space-x-12 text-xl cursor-pointer">
        <li class="hover:text-green-200" routerLink="/features">Features</li>
        <li class="hover:text-green-200" routerLink="/whyCloser?">
          Why Closer?
        </li>
        <li class="hover:text-green-200">
          <a href="https://www.lawlabs.ca/pricing" target="_blank"> Pricing</a>
        </li>
      </ul>
    </div>
    <div class="font-light">
      <a
        href="https://closer.lawlabs.ca/login"
        target="_blank"
        class="rounded-full border-2 font-bold bg-neutral-700 px-3 py-2 text-green-100 ml-11 mr-12 hover:bg-neutral-500"
        >Log in</a
      >
      <a
        href="https://zoom.us/webinar/register/WN_N3de1HVfT5KqQkplcOhwjw"
        target="_blank"
        class="text-green-900 border-2 font-bold bg-green-200 px-3 py-2 rounded-full hover:bg-green-500"
        >Try now for FREE</a
      >
    </div>
  </div>
</nav>
<div
  class="bg-neutral-900 bg-cover bg-center bg-no-repeat"
  style="
    background-image: url('https://uploads-ssl.webflow.com/613a465d1804f737b87acf7c/614b3bfda337708c2eb46792_gradient-01-01.svg');
  "
>
  <div class="container my-auto mx-auto flex justify-center">
    <div class="py-10 text-white">
      <h1 class="m-12 text-6xl text-center font-bold">
        Conveyancing without constraints.
      </h1>

      <div class="text-center">
        <p class="inline-block text-6xl">
          <span class="text-4xl font-bold mb-5">Hello, Ontario.</span
          ><br /><span class="mb-12 text-2xl"
            >We’re LawLabs, the team behind Closer, a new kind of conveyancing
            software. <br />We’re here to make conveyancing simple, intuitive,
            and human. </span
          >&zwj;
        </p>
        <div class="font-light p-9">
          <a
            href="https://zoom.us/webinar/register/WN_N3de1HVfT5KqQkplcOhwjw"
            target="_blank"
            class="text-green-900 border-2 font-bold bg-green-200 px-4 py-3 rounded-full hover:bg-green-500"
            >Try now for FREE</a
          >
          <a
            href="https://www.lawlabs.ca/sign-up"
            target="_blank"
            class="rounded-full border-2 font-bold bg-neutral-700 px-4 py-3 text-green-100 ml-11 mr-12 hover:bg-neutral-500"
            >Book a Demo</a
          >
        </div>
      </div>
      <div>
        <p class="paragraph-63 text-center">
          Closer is available now for sales files, with purchase and refinance
          files coming very soon.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex">
  <div class="container text-center">
    <h1 class="text-center p-10 text-3xl">
      We're partnered with these top industry platforms that you rely on
      everyday
    </h1>
    <div class="flex items-center justify-center space-x-16">
      <div class="column-37 w-col w-col-3 w-col-tiny-6">
        <img
          src="https://uploads-ssl.webflow.com/613a465d1804f737b87acf7c/613b62bca068709ed0495861_logo_LLC_signin.gif"
          loading="lazy"
          width="90"
          alt=""
        />
      </div>
      <div class="column-67 w-col w-col-3 w-col-tiny-6">
        <img
          src="https://uploads-ssl.webflow.com/613a465d1804f737b87acf7c/61e0047c46b7dd71d4a37474_fct%20logo.png"
          loading="lazy"
          sizes="(max-width: 479px) 19vw, (max-width: 991px) 22vw, 180px"
          height=""
          srcset="
            https://uploads-ssl.webflow.com/613a465d1804f737b87acf7c/61e0047c46b7dd71d4a37474_fct%20logo-p-500.png 500w,
            https://uploads-ssl.webflow.com/613a465d1804f737b87acf7c/61e0047c46b7dd71d4a37474_fct%20logo.png       512w
          "
          alt=""
          class="image-71"
        />
      </div>
      <div class="column-49 w-col w-col-3 w-col-tiny-6">
        <img
          src="https://uploads-ssl.webflow.com/613a465d1804f737b87acf7c/61bf7f08c5e11146df3c7551_Chicago%20Title%20Logo.svg"
          loading="lazy"
          alt=""
        />
      </div>
      <div class="w-col w-col-3 w-col-tiny-6">
        <img
          src="https://uploads-ssl.webflow.com/613a465d1804f737b87acf7c/613b6258a29ea75140e4fea7_Teranet_Inc__Teranet_grows_registry_business_through_Foster_Moor.jpeg"
          loading="lazy"
          width="400"
          alt=""
        />
      </div>
    </div>
    <div class="div-block"></div>
  </div>
</div>

<div class="flex items-center justify-between">
  <div class="ml-10 w-2/6">
    <h1 class="text-5xl font-bold">Work together from anywhere</h1>
    <p class="my-7 text-lg font-bold">
      Do locked <em>matters</em> have you down?<br /><br /><strong
        >Access a file at the same time as one or more colleagues,
        unimpeded.</strong
      ><br /><br />Closer’s industry-first autosave capabilities, cloud
      technology and cross-browser support ensure that you and your team can
      collaborate from anywhere, even if you can’t be together.
    </p>
  </div>
  <div class="flex">
    <img
      src="https://uploads-ssl.webflow.com/613a465d1804f737b87acf7c/614cf6689102f81c4dd6c81b_home_collaboration-16.svg"
      loading="lazy"
      style="
        opacity: 1;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
          rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
      "
      data-w-id="8b73303b-5384-4d5d-018f-9c44f9e0d65f"
      alt=""
    />
  </div>
</div>

<div class="container w-5/6 mx-auto">
  <div class="flex items-center justify-between -mx-7 bg-green-100">
    <div class="w-full">
      <img
        src="https://uploads-ssl.webflow.com/613a465d1804f737b87acf7c/614a70a0b30e9d3bd85aad67_NEW-HOME.gif"
        loading="lazy"
        style="
          opacity: 1;
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        "
        data-w-id="9f155310-2552-101b-e55f-f4c1e28cfc53"
        alt=""
      />
    </div>
    <div class="column-31 w-col w-col-6">
      <h2 class="text-5xl font-bold">Reimagine document <br />management</h2>
      <p class="py-10 font-bold w-4/5">
        Experience the difference with Closer's game-changing document
        functionality. With an industry-first split-screen view for real-time
        editing and intuitive tools to manage your custom document templates,
        you'll spend less time generating your clients' paperwork and more time
        helping them close.
      </p>
    </div>
  </div>

  <div class="mt-5">
    <div class="flex items-center">
      <div class="div-block-3">
        <h1 class="text-5xl font-bold">Focus on what matters most</h1>
        <p class="py-10 font-bold w-4/5">
          With intelligent views of your daily and weekly workload, intuitive
          progress bars and status indicators noting the state of each file, and
          smart notifications to let you know of those last minute mortgage
          instructions, you’re well equipped to handle that next
          end-of-the-month bonanza.<br />
        </p>
      </div>
      <div class="w-full">
        <img
          src="https://uploads-ssl.webflow.com/613a465d1804f737b87acf7c/614cf726372135e2bee32bbb_Home_focus-16.svg"
          loading="lazy"
          style="
            opacity: 1;
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
          "
          data-w-id="98f36288-9385-ed7d-d03a-52321432391a"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="text-center text-lg mb-12">
    <a
      href="/features"
      class="underline cursor-pointer text-green-700 font-bold hover:text-green-500"
      >View all features &gt;</a
    >
  </div>
</div>

<div class="items-center py-4 justify-evenly flex bg-neutral-800">
  <div class="justify-center">
    <img
      src="https://uploads-ssl.webflow.com/613a465d1804f737b87acf7c/6144a3519bc78c0a700745a6_KH-08.svg"
      loading="lazy"
      width="287"
      alt=""
    />
  </div>
  <div class="text-white italic text-lg py-10 font-semibold w-96">
    <blockquote class="mce-i-blockquote">
      "I can't imagine our business running without Closer now - it's such a
      game changer for the way we prioritize and process our files."
    </blockquote>
    <div>
      <div class="text-block-3">
        <strong class="bold-text-2">Korin Harris, </strong>Clerk
      </div>
    </div>
  </div>
</div>

<div class="text-center py-28">
  <h1 class="text-5xl font-bold">
    See why top Ontario firms are using Closer to transform their practices
  </h1>
  <div class="font-light p-9 mt-3">
    <a
      href="https://zoom.us/webinar/register/WN_N3de1HVfT5KqQkplcOhwjw"
      target="_blank"
      class="text-green-900 border-2 font-bold bg-green-200 px-5 py-4 rounded-full hover:bg-green-500"
      >Try now for FREE</a
    >
    <a
      href="https://www.lawlabs.ca/sign-up"
      target="_blank"
      class="rounded-full border-2 font-bold bg-neutral-700 px-5 py-4 text-green-100 ml-11 mr-12 hover:bg-neutral-500"
      >Book a demo</a
    >
  </div>
</div>

<footer id="footer" class="w-screen bg-neutral-800 text-white p-10">
  <div class="text-center text-2xl font-semibold hover:text-green-200">
    LawLabs-Clone By Kamaljeet Singh
  </div>
</footer>
